.root {
  height: 100vh;
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .page-content {
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    margin-left: 10px;

    @media (max-width: 600px) {
      margin-left: 0px;
      height: 100vh;
    }
  }
}
