$green: #64ae57;
$purple: #6470ee;
$gray: #8895b3;
$gray-dark: #132140;
$gray-light: #f3f5f9;

.search-container {
  float: right;
  border-radius: 50px;
  background-color: #8893b3;
  padding: 6px 8px;
  margin-right: 18px;
  margin-top: 2px;
  transition: all 500ms;
  cursor: pointer;

  input {
    border: 0;
    position: relative;
    top: -2px;
    background-color: transparent;
    transition: all 500ms;
    width: 0;
    outline: 0;
    color: white;
    font-weight: bold;

    &::placeholder {
      color: white;
    }
  }

  .icon {
    color: white;
    transition: all 400ms;
    // transition-delay: 300ms;
  }

  &.expanded {
    padding: 3px 8px;
    margin-top: 5px;
    cursor: text;

    input {
      width: 100px;
    }

    .icon {
      // transform: scaleX(0.1);
      // background-color: white;
      margin-right: 8px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .mobile-searchbar {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .search-container {
    display: none;
  }
  .mobile-searchbar {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    .inner-container {
      margin-bottom: 15px;
      margin-top: 15px;
      position: relative;

      .icon {
        color: $gray;
        margin-left: 5px;
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);
        top: 50%;
      }

      .search-input {
        border-radius: 8px;
        background-color: #f1f1f2;
        border: none;
        font-size: 15px;
        width: 100%;
        outline: none;
        text-align: left;
        padding-left: 31px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;

        &::placeholder {
          color: $gray;
          font-weight: 500;
        }
      }
    }
  }
}
