.search-container {
  float: right;
  border-radius: 50px;
  background-color: #8893b3;
  padding: 6px 8px;
  margin-right: 18px;
  margin-top: 2px;
  transition: all 500ms;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    border: 1px solid red;
  }

  input {
    border: 0;
    position: relative;
    top: -2px;
    background-color: transparent;
    transition: all 500ms;
    width: 0;
    outline: 0;
    color: white;
    font-weight: bold;

    &::placeholder {
      color: white;
    }
  }

  .icon {
    color: white;
    transition: all 400ms;
    // transition-delay: 300ms;
  }

  &.expanded {
    padding: 3px 8px;
    margin-top: 5px;
    cursor: text;

    input {
      width: 100px;
    }

    .icon {
      // transform: scaleX(0.1);
      // background-color: white;
      margin-right: 8px;
    }
  }
}
