$green: #64ae57;
$purple: #6470ee;
$gray: #8895b3;
$gray-dark: #132140;
$gray-light: #f3f5f9;

.search-container {
  float: right;
  position: fixed;
  z-index: 2;
  text-align: right;
  width: 100%;
  left: 0;
  padding-right: 15px;
  padding-top: 15px;

  .background {
    position: fixed;
    right: 0;
    top: 0;
    // background-color: white;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );

    width: 100vw;
    height: 85px;
    z-index: 1;
    pointer-events: none;
  }

  .inner-container {
    border-radius: 50px;
    background-color: #8893b3;
    padding: 6px 8px;
    margin-right: 18px;
    margin-top: 2px;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    // width: 50px;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 3;
  }

  input {
    border: 0;
    position: relative;
    top: -2px;
    background-color: transparent;
    transition: all 500ms ease-in-out;
    width: 0;
    outline: 0;
    color: white;
    font-weight: bold;

    &::placeholder {
      color: white;
    }
  }

  .icon {
    color: white;
    transition: all 400ms;
  }

  &.expanded {
    padding: 3px 8px;
    cursor: text;

    input {
      width: 250px;
    }

    .icon {
      margin-right: 8px;
    }
  }
}

@media (min-width: 600px) {
  .mobile-searchbar {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .search-container {
    display: none;
  }
  .mobile-searchbar {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;

    .inner-container {
      margin-bottom: 15px;
      margin-top: 15px;
      position: relative;

      .icon {
        color: $gray;
        margin-left: 5px;
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);
        top: 50%;
      }

      .search-input {
        border-radius: 8px;
        background-color: #f1f1f2;
        border: none;
        font-size: 16px;
        width: 100%;
        outline: none;
        text-align: left;
        padding-left: 31px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;

        &::placeholder {
          color: $gray;
          font-weight: 500;
        }
      }
    }
  }
}
