.note-container {
  display: flex;

  .note-content {
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;

    .notebook-title {
      color: #8895b3;
      font-size: 16px;
      padding-left: 20px;
      margin-bottom: 0;

      span {
        font-weight: 600;
      }
    }

    .note-header {
      display: flex;
      justify-content: space-between;

      .title {
        margin-top: 10px;
      }

      .btn-container {
        margin-top: 20px;
        .primary,
        .secondary {
          border-radius: 5px;
        }

        .primary {
          padding-top: 5px;
          padding-bottom: 5px;
          margin-right: 0;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .secondary {
          padding: 6px 30px;
        }
      }
    }

    .note-editor {
      display: block;
      margin-left: auto;
      margin-right: auto;
      .tox.tox-tinymce {
        border: none;
        .tox-editor-container {
          margin-left: 15px;
          margin-right: 15px;
          .tox-menubar {
            display: none;
          }
        }

        .tox-toolbar {
          border-top: 0;
          border-bottom: 1px solid #8895b3;

          .tox-toolbar__group {
            border: 0;
          }
        }

        .tox-sidebar-wrap {
          .tox-edit-area {
            border: 0;
          }
        }

        .tox-statusbar {
          display: none;
        }
      }
    }
  }
  .note-list-container {
    background-color: #7371fc;
    height: 100vh;
    order: 2;
    overflow: hidden;
    width: 300px;
    // max-width: 100%;

    .note-list-container-title {
      color: #fff;
      font-size: 25px;
      font-weight: 400;
      padding: 20px;
      // border-bottom: 1px solid #a4a2f8;
    }

    .notelist-divider {
      width: 60%;
      height: 1px;
      background-color: #a4a2f8;
      margin-left: auto;
      margin-right: auto;
    }

    .note-list-content {
      padding-left: 20px;
      padding-right: 20px;

      .note-list-title {
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
        color: #fff;
        text-align: center;
        // margin-bottom: 0;
      }
      .note-list-body {
        color: #fff;

        p {
          color: #fff;
          font-size: 16px;
          span {
            background-color: #7371fc !important;
            color: #fff !important;
            font-size: 16px !important;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .note-list-container {
      display: none;
    }

    .note-content {
      padding: 0;

      .note-header {
        // display: flex;
        // justify-content: flex-start;
        // display: inline-block;
        // margin-left: auto;
        // margin-right: auto;
      }
    }
  }
}
