@import "../../../Variables";

.note-container {
  .notebook-select {
    width: 200px;
    display: inline-block;
  }

  .note-content {
    width: 100%;
    display: flex;

    .note-details {
      width: 100%;
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 40px;

      @media (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }

      .save-button-container {
        margin-bottom: 20px;
        text-align: right;

        @media (max-width: 600px) {
          margin-bottom: 5px;
        }

        .delete-note {
          margin: 0;
          border-radius: 5px;
          letter-spacing: 1px;
          padding: 4px 35px;
          font-size: 16px;
          outline: 0;
          position: relative;
          cursor: pointer;

          @media (max-width: 600px) {
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 10px;
            margin-top: 5px;

            position: fixed;
            top: 78px;
            right: -20px;
            border: 0;
          }
        }

        .save-note {
          margin: 0;
          border-radius: 5px;
          letter-spacing: 1px;
          padding: 4px 30px;
          font-size: 16px;
          outline: 0;
          cursor: pointer;

          &.desktop {
            display: inline-block;
            margin-right: 10px;
            border-color: $purple;
            color: $purple;
            width: 80px;
            text-align: center;
            padding-left: 0;
            padding-right: 0;

            .preloader {
              position: relative;
              // left: 30px;
              margin: 0;
              left: -7px;

              & > div {
                width: 10px;
                height: 10px;
                background-color: $purple;
                margin-left: 1px;
                margin-right: 1px;
              }
            }
          }
          &.mobile {
            display: none;
            position: absolute;
            color: white;
            top: 18px;
            right: -20px;
            background-color: transparent;
            border: 0;
            z-index: 6;

            .fa-cloud-upload-alt {
              text-shadow: 0px 2px 4px #514fce;
            }

            .preloader {
              position: relative;
              left: 30px;
              margin: 0;

              & > div {
                width: 10px;
                height: 10px;
                background-color: white;
                margin-left: 1px;
                margin-right: 1px;
              }
            }
          }

          @media (max-width: 600px) {
            &.desktop {
              display: none;
            }
            &.mobile {
              display: block;
            }
          }

          @keyframes scale-and-rotate {
            from {
              transform: scale(0) rotate(90deg);
            }
            to {
              transform: scale(1) rotate(0deg);
            }
          }

          .fa {
            transform: scale(0) rotate(90deg);

            animation-name: scale-and-rotate;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
          }

          .fa-check {
            // color: lighten(green, 20);
          }

          &.desktop {
          }
        }
      }
    }

    .notebook-title {
      color: #8895b3;
      font-size: 16px;
      margin-bottom: 0;

      .fa {
        margin-right: 5px;
      }

      span {
        font-weight: 600;
      }
    }

    .note-header {
      display: flex;
      margin-top: 16px;
      margin-bottom: 16px;

      @media (max-width: 600px) {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      .note-title {
        margin: 0;
        font-weight: 100;
        font-size: 40px;
        color: #292929;
        width: 100%;
        cursor: pointer;

        @media (max-width: 600px) {
          font-size: 25px;
          font-weight: 400;
        }

        &:hover {
          background-color: rgba(black, 0.03);
        }
      }

      input {
        font-weight: 100;
        font-size: 40px;
        color: #292929;
        border: 1px dashed #ddd;
        outline: 0;
        position: relative;
        top: -3px;
        letter-spacing: 2px;
        width: 100%;

        &:focus {
          // color: $purple;
        }

        @media (max-width: 600px) {
          font-size: 25px;
          font-weight: 400;
          letter-spacing: 0px;
          color: $purple;
          border: 0;
        }
      }

      .btn-container {
        margin-top: 20px;
        .primary,
        .secondary {
          border-radius: 5px;
        }

        .primary {
          padding-top: 5px;
          padding-bottom: 5px;
          margin-right: 0;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .secondary {
          padding: 6px 30px;
        }
      }
    }

    .editor-wrapper {
      .rdw-editor-toolbar {
        border: 0;
        border-top: 1px solid darken($gray-light, 3);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;

        .rdw-option-wrapper {
          border: 0;
        }

        .rdw-inline-wrapper,
        .rdw-text-align-wrapper {
          width: 100%;
          justify-content: space-between;
        }

        .rdw-text-align-wrapper {
          order: 1;
          margin-top: 10px;
        }

        .rdw-inline-wrapper {
          margin-top: 10px;
        }

        .rdw-block-wrapper {
          width: 46%;
          order: 0;
        }
        .rdw-fontsize-wrapper {
          width: 50px;
        }
        .rdw-list-wrapper {
          width: calc(54% - 50px);
          justify-content: space-between;
        }

        .rdw-block-dropdown {
          width: 100%;
        }

        .rdw-fontfamily-wrapper,
        .rdw-embedded-wrapper,
        .rdw-image-wrapper,
        .rdw-remove-wrapper,
        .rdw-history-wrapper,
        .rdw-colorpicker-wrapper,
        .rdw-link-wrapper,
        .rdw-emoji-wrapper {
          display: none;
        }

        .rdw-option-wrapper {
          &[title="Superscript"],
          &[title="Subscript"],
          &[title="Monospace"],
          &[title="Indent"],
          &[title="Outdent"],
          &[title="Monospace"] {
            display: none;
          }
        }

        @media (min-width: 601px) {
          padding-top: 10px;

          .rdw-block-wrapper,
          .rdw-fontsize-wrapper {
            position: relative;
            top: 5px;
          }

          .rdw-block-wrapper {
            width: 150px;
          }

          .rdw-inline-wrapper {
            width: auto;
            margin: 0;
          }
          .rdw-fontfamily-wrapper {
            width: 150px;
            margin: 0;
          }
          .rdw-list-wrapper {
            width: auto;
            margin: 0;
          }
          .rdw-text-align-wrapper {
            width: auto;
            margin: 0;
          }
        }
      }

      .editor-inner-container {
        height: calc(var(--vh) * 100 - 330px);
        background-color: rgba($purple, 0.03);
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 40px;
        padding-right: 40px;

        @media (min-width: 701px) {
          height: calc(var(--vh) * 100 - 250px);
        }
      }
    }
  }
  .note-list-container {
    background-color: #7371fc;
    height: 100vh;
    order: 2;
    overflow: auto;
    width: 400px;

    // max-width: 100%;

    .note-list-container-title {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      padding: 0px;
      margin: 0;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    .notelist-divider {
      width: 60%;
      height: 1px;
      background-color: #a4a2f8;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: white;

      .note-list-content {
        padding: 0;
        background-color: #7a79ff;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;

        .note-list-title {
          font-size: 20px;
          font-weight: 400;
          text-transform: capitalize;
          color: #fff;
          text-align: center;
          padding: 6px;
          margin: 0;
        }
        .note-list-body {
          color: #fff;
          margin: 0;

          p {
            color: #fff;
            font-size: 14px !important;
            // font-weight: bold;
            margin: 0;

            span {
              background-color: #7a79ff !important;
              color: #fff !important;
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .note-list-container {
      display: none;
    }

    .note-content {
      padding: 0;
    }
  }
}
