$purple: #7274f4;

.note-container {
  .notebook-select {
    width: 150px;
    display: inline-block;
    z-index: 3;
  }

  .note-content {
    width: 100%;
    display: flex;

    .note-details {
      width: 100%;
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 40px;

      @media (max-width: 600px) {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }

      .save-button-container {
        margin-bottom: 20px;
        text-align: right;

        .save-note {
          margin: 0;
          border-radius: 5px;
          letter-spacing: 1px;
          padding: 5px 35px;
          font-size: 16px;
        }
      }
    }

    .notebook-title {
      color: #8895b3;
      font-size: 16px;
      margin-bottom: 0;

      .fa {
        margin-right: 5px;
      }

      span {
        font-weight: 600;
      }
    }

    .note-header {
      display: flex;
      margin-top: 16px;
      margin-bottom: 16px;

      .note-title {
        margin: 0;
        font-weight: 100;
        font-size: 40px;
        color: #292929;
        cursor: pointer;

        &:hover {
          background-color: rgba(black, 0.03);
        }
      }

      input {
        font-weight: 100;
        font-size: 40px;
        color: #292929;
        border: 1px dashed #ddd;
        outline: 0;
        position: relative;
        top: -3px;
        letter-spacing: 2px;

        &:focus {
          // color: $purple;
        }
      }

      .btn-container {
        margin-top: 20px;
        .primary,
        .secondary {
          border-radius: 5px;
        }

        .primary {
          padding-top: 5px;
          padding-bottom: 5px;
          margin-right: 0;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .secondary {
          padding: 6px 30px;
        }
      }
    }

    .note-editor {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-left: -15px;

      .tox.tox-tinymce {
        border: none;
        .tox-editor-container {
          margin-left: 15px;
          margin-right: 15px;
          .tox-menubar {
            display: none;
          }
        }

        .tox-toolbar {
          border-top: 0;
          border-bottom: 1px solid #8895b3;

          .tox-toolbar__group {
            border: 0;
          }
        }

        .tox-sidebar-wrap {
          .tox-edit-area {
            border: 0;
          }
        }

        .tox-statusbar {
          display: none;
        }
      }
    }
  }
  .note-list-container {
    background-color: #7371fc;
    height: 100vh;
    order: 2;
    overflow: auto;
    width: 400px;

    // max-width: 100%;

    .note-list-container-title {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      padding: 0px;
      margin: 0;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      // border-bottom: 1px solid #a4a2f8;
    }

    .notelist-divider {
      width: 60%;
      height: 1px;
      background-color: #a4a2f8;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .note-list-content {
      padding: 0;
      background-color: #7a79ff;
      margin-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;

      .note-list-title {
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
        color: #fff;
        text-align: center;
        padding: 6px;
        margin: 0;
      }
      .note-list-body {
        color: #fff;
        margin: 0;

        p {
          color: #fff;
          font-size: 14px !important;
          // font-weight: bold;
          margin: 0;

          span {
            background-color: #7a79ff !important;
            color: #fff !important;
            font-size: 14px !important;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .note-list-container {
      display: none;
    }

    .note-content {
      padding: 0;

      .note-header {
        // display: flex;
        // justify-content: flex-start;
        // display: inline-block;
        // margin-left: auto;
        // margin-right: auto;
      }
    }
  }
}
