$font-stack: "Roboto", sans-serif;
$primary-color: #7371fc;

.mobile-sidebar {
  display: none;
}

.sidebar {
  background-color: $primary-color;
  width: 80px;
  height: 100%;

  .title {
    font-family: $font-stack;
    color: white;
    font-weight: 100;
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
      width: 18px;
      height: 18px;
      display: block;
      padding: 18px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .mobile-sidebar {
    display: flex;
    width: 100%;

    &.top {
      background-color: #7371fc;
      width: 100%;
      z-index: 1;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .title {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    &.bottom {
      background-color: #7371fc;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;

      .section {
        padding: 10px;
        color: #fff;
        text-align: center;
        text-decoration: none;

        p {
          color: #fff;
          margin: 0;
          font-size: 13px;
        }

        .icon {
          font-size: 16px;
        }
      }
    }
  }
}
