$font-stack: "Averta", sans-serif;
$primary-color: #7371fc;

.mobile-sidebar {
  display: none;
  padding-left: 15px;
  padding-right: 15px;

  .fa {
    color: white;
  }
}

.sidebar {
  background-color: $primary-color;
  width: 80px;
  height: 100%;
  z-index: 3;

  .fa {
    color: white;
  }

  .title {
    font-family: $font-stack;
    color: white;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 10px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      text-decoration: none;
    }

    .icon {
      color: white;
      display: block;
      padding: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .mobile-sidebar {
    display: flex;
    width: 100%;

    .plus-button-container {
      font-size: 1.4em;
      padding-top: 7px;
      padding-right: 10px;
    }

    &.top {
      background-color: #7371fc;
      width: 100%;
      z-index: 1;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        text-shadow: 0px 2px 4px #514fce;
        font-size: 1.5em;
      }

      .title {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    &.bottom {
      background-color: #7371fc;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      padding-top: 12px;
      padding-bottom: 12px;

      .section {
        color: #fff;
        text-align: center;
        text-decoration: none;

        p {
          color: #fff;
          margin: 0;
          font-size: 12px;
          font-weight: 700;
        }

        .icon {
          font-size: 16px;
        }
      }
    }
  }
}
