$green: #64ae57;
$purple: #6470ee;
$gray: #8895b3;
$gray-dark: #132140;
$gray-light: #f3f5f9;

.register-container {
  position: relative;
  margin: 0;
  z-index: 2;

  @media (max-width: 600px) {
    // .register {
    //   display: none;
    // }
    .title {
      margin-bottom: 40px;
    }

    .account-created {
      .title {
        color: $gray-light;
        position: absolute;
        top: 20%;
        left: 10%;
        text-transform: capitalize;
        font-weight: 100;
        font-size: 20px;
      }

      background-color: rgba(0, 0, 0, 0.9);
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      animation-duration: 0.5s;
      animation-name: slidein;

      @keyframes slidein {
        from {
          height: 0;
        }
        to {
          height: 100vh;
        }
      }

      .fa-check-circle {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: rgba($purple, 1);
        background-color: white;
        border-radius: 50%;

        transform: scale(0);
        animation-delay: 0.2s;
        animation-name: scale;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @keyframes scale {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
      }

      .login-link {
        position: absolute;
        top: 5%;
        left: 5%;
        text-transform: uppercase;
        color: $purple;
        // font-size: 20px;
        text-decoration: none;

        .fa-chevron-left {
          margin-right: 3px;
        }
      }
    }
  }

  @media (min-width: 601px) {
    .account-created {
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      // animation-duration: 0.5s;
      // animation-name: slidein;

      .title {
        color: $gray-light;
        text-align: center;
        margin-top: 20px;
        font-weight: 100;
        font-size: 30px;
      }

      .fa-check-circle {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba($purple, 1);
        background-color: white;
        border-radius: 50%;

        transform: scale(0);
        animation-delay: 0.2s;
        animation-name: scale;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @keyframes scale {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
      }

      .login-link {
        position: absolute;
        top: 20px;
        left: 20px;
        color: $purple;
        text-transform: uppercase;
        text-decoration: none;

        .fa-chevron-left {
          margin-right: 5px;
        }
      }
    }
  }
}
