$green: #64ae57;
$purple: #6470ee;
$gray: #8895b3;
$gray-dark: #132140;
$gray-light: #f3f5f9;

.notebooks-group {
  width: 100%;
  overflow-x: hidden;
  .notebook-list {
    padding: 0;
    margin: 0;
    .notebook-item {
      a {
        text-decoration: none;
        text-transform: capitalize;
      }
      a:visited {
        color: $purple;
      }
    }
  }
}
