@import "../../Variables";

.search-list-container {
  @media (min-width: 601px) {
    padding-top: 60px;
  }

  .title {
    font-size: 25px;
    color: #8895b3;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .message-no-results {
    text-align: center;
    color: lighten($gray, 10);
    width: 100%;
  }

  .preloader {
    margin-top: calc(var(--vh) * 40);
  }
}
