@import "../../../Variables";

.notebook-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

  .message-no-results {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: lighten($gray, 10);
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;

    .note-item {
      padding-top: 10px;
    }

    .hours {
      .icon {
        color: lighten($gray, 25);
        cursor: pointer;
      }
    }
  }

  .save-button-container {
    margin-bottom: 20px;
    text-align: right;

    @media (max-width: 600px) {
      //   // margin-bottom: 5px;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;

      .save-note {
        margin-right: 0 !important;
      }
    }

    .delete-note {
      margin: 0;
      border-radius: 5px;
      letter-spacing: 1px;
      padding: 4px 35px;
      font-size: 16px;
      outline: 0;
      position: relative;
      cursor: pointer;

      @media (max-width: 600px) {
        margin-right: 10px;
      }

      // @media (max-width: 600px) {
      //   margin-left: auto;
      //   margin-right: auto;
      //   display: block;
      //   margin-bottom: 10px;
      //   margin-top: 5px;
      //
      //   position: fixed;
      //   top: 78px;
      //   right: -20px;
      //   border: 0;
      // }
    }

    .save-note {
      margin: 0;
      border-radius: 5px;
      letter-spacing: 1px;
      padding: 4px 30px;
      font-size: 16px;
      outline: 0;
      cursor: pointer;

      &.desktop {
        display: inline-block;
      }
      &.mobile {
        display: none;
      }

      @media (max-width: 600px) {
        &.desktop {
          display: none;
        }
        &.mobile {
          display: inline-block;
        }
      }

      // &.desktop {
      background-color: white;
      border-width: 1px;
      display: inline-block;
      margin-right: 10px;
      border-color: $purple;
      color: $purple;
      width: 80px;
      text-align: center;
      padding-left: 0;
      padding-right: 0;

      .preloader {
        position: relative;
        // left: 30px;
        margin: 0;
        left: -7px;

        & > div {
          width: 10px;
          height: 10px;
          background-color: $purple;
          margin-left: 1px;
          margin-right: 1px;
        }
      }
      // }
      // &.mobile {
      //   display: none;
      //   position: absolute;
      //   color: white;
      //   top: -28px;
      //   right: -20px;
      //   background-color: transparent;
      //   border: 0;
      //   z-index: 6;
      //   transform: scale(1);
      //   transform: translateZ(1px);
      //   // -webkit-transform: translate3d(0, 0, 0);
      //
      //   .fa-cloud-upload-alt {
      //     text-shadow: 0px 2px 4px #514fce;
      //   }
      //
      //   .preloader {
      //     position: relative;
      //     left: 30px;
      //     margin: 0;
      //
      //     & > div {
      //       width: 10px;
      //       height: 10px;
      //       background-color: white;
      //       margin-left: 1px;
      //       margin-right: 1px;
      //     }
      //   }
      // }

      @keyframes scale-and-rotate {
        from {
          transform: scale(0) rotate(90deg);
        }
        to {
          transform: scale(1) rotate(0deg);
        }
      }

      .fa {
        transform: scale(0) rotate(90deg);

        animation-name: scale-and-rotate;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      .fa-check {
        // color: lighten(green, 20);
      }

      &.desktop {
      }
    }
  }

  .notebook-title,
  .title-input {
    font-weight: 100;
    font-size: 40px;
    color: #292929;
    width: calc(100% - 30px);
    cursor: pointer;
    margin: 0;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 10px;

    @media (max-width: 600px) {
      margin-bottom: 25px;
      font-size: 25px;
      font-weight: 400;
    }

    .fa {
      margin-right: 5px;
    }
  }

  .notebook-title {
    cursor: pointer;

    &:hover {
      background-color: rgba(black, 0.03);
    }
  }

  .title-input {
    border: 1px dashed lighten($gray, 10);
    outline: 0;
    border-radius: 5px;
    // display: none;
    position: relative;
    letter-spacing: 3px;
    top: -2px;
    left: -1px;

    @media (max-width: 600px) {
      letter-spacing: 1px;
    }
  }

  .add-note-container {
    text-decoration: none;
    margin-bottom: 20px;

    button.add-note {
      display: block;
      margin: 0 auto;
    }
  }
}
